.avatar-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	&--history {
		background: linear-gradient(229.53deg, #d300c5 11.19%, #ff234b 50.32%, #ffc900 125.69%);
	}

	.avatar {
		position: absolute;
		object-fit: cover;
		object-position: center;
		border-radius: 50%;
	}
}
