.container {
	display: flex;
	height: 100%;

	.menu {
		display: flex;
		flex-direction: column;
		padding: 8px 18px 20px 18px;
		font-weight: 400;
		font-size: 16px;
		width: 244px;
		border-right: 1px solid #262626;

		.material-icons,
		.material-symbols-outlined {
			font-size: 28px;
		}

		&__logo {
			height: 92px;
			display: flex;
			align-items: center;
		}

		.menus {
			.menu-content {
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 5px;
				cursor: pointer;
				margin-bottom: 0.8em;

				.menu-item {
					display: flex;
					gap: 1em;
					align-items: center;
				}

				&:hover {
					background-color: #1a1a1a;
					border-radius: 8px;
				}
			}
		}
	}

	.main {
		flex: 1;
		display: flex;
		justify-content: center;

		overflow-y: auto;
		height: 100vh;
	}
}
