.wc-container {
	display: flex;
	gap: 1em;
	&__image {
		width: 64px;
		height: 64px;
	}
	.wc-work {
		display: flex;
		flex-direction: column;

		&__title {
			font-size: 18px;
			font-weight: bold;
			color: orange;
		}
	}
}
