.post-container {
	.post-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.post-user {
			display: flex;
			align-items: center;
			gap: 1em;
			font-size: 14px;
		}
	}

	.post-image {
		margin-top: 1em;
	}
}
